body {
  /* stile generale del corpo della pagina */
  background-color: #0d1217;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
  background-size: 15px 15px;
}

header {
  /* stile per l'intestazione */
  background-color: #0b0f14;
  color: #e0e0e0;
  padding: 16px;
  text-align: center;
}

.sidebar {
  /*stileperlabarralaterale*/background-color: #07090e;
  color: #e0e0e0;
  width: 200px;
  padding: 20px;
  position: fixed;
  height: calc(100%);
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
}

.sidebar button {
  /* stile per i pulsanti della barra laterale */
  width: 100%;
  padding: 4px 0;
  margin: 10px 0;
  background-color: #090c11;
  color: #e0e0e0;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidebar button:hover {
  /* stile per i pulsanti della barra laterale al passaggio del mouse */
  background-color: #07090e;
}

.sidebar button.selected {
  /* stile per i pulsanti selezionati */
  border: 2px solid #20e5f2;
}

.grid-container {
  /* stile per il contenitore della griglia */
  margin-left: 240px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.widget {
  /* stile per i widget */
  background: #07090e;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.widget-title {
  /* stile per il titolo dei widget */
  position: relative;
  cursor: help;
}

.widget-title:hover::after {
  /* stile per l'effetto hover sul titolo dei widget */
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0b0f14;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 8px;
  border-color: #0a0e12;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.widget-options {
  /* stile per le opzioni dei widget */
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.widget-button {
  /* stile per i pulsanti dei widget */
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090c11;
  color: #e0e0e0;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.widget-button:hover {
  /* stile per i pulsanti dei widget al passaggio del mouse */
  background-color: #07090e;
}

.widget-button.selected {
  /* stile per i pulsanti dei widget selezionati */
  border-color: #20e5f2;
}

.widget-color-picker {
  width: 100px;
  height: 100px;
  background-color: #090c11;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
}

.widget-color-picker:focus {
  outline: none;
  border-color: #20e5f2;
}

.widget-alpha-picker {
  width: 100px;
  height: 100px;
  background-color: #090c11;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  color: inherit;
  text-align: center;
}

.widget-alpha-picker:focus {
  outline: none;
  border-color: #20e5f2;
}