body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
  background-size: 15px 15px;
}

header {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  background-color: #1a1a1a;
  color: #e0e0e0;
  width: 200px;
  padding: 1rem;
  position: fixed;
  top: 50px;
  height: calc(100% - 50px);
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-220px);
}

.sidebar-toggle, .export-button, .github-button {
  position: fixed;
  top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-toggle:hover, .export-button:hover, .github-button:hover {
  background-color: #444;
}

.sidebar-toggle {
  left: 10px;
}

.export-button {
  left: 60px;
}

.github-button {
  left: 110px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.sidebar button:hover {
  background-color: #3a3a3a;
}

.sidebar button.selected {
  border: 2px solid #FFD700;
}

.grid-container {
  margin-left: 220px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ensure widgets do not overlap */
  gap: 50px; /* Modificato da 20px a 30px */
}

.widget {
  background: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: fit-content; /* Adjust width to fit content */
  height: fit-content; /* Adjust height to fit content */
}

.widget-title {
  position: relative;
  cursor: help;
}

.widget-title:hover::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.widget-options {
  display: grid;
  grid-template-columns: repeat(2, 100px); /* 2 squares per row */
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.widget-button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.widget-button:hover {
  background-color: #3a3a3a;
}

.widget-button.selected {
  border-color: #FFD700;
}